a:hover {
    color: rgb(130, 0, 252);
}

.box {
    margin: 5px;
    padding: 10px;
    background-color: aquamarine;
}

#github {
    border: 1px solid black;    
    margin: 5px;
    padding: 20px;
    background-color: antiquewhite;
}

a {
    text-decoration: none;
    color: grey;
    font-weight: 700;
}

